@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="row text-center index">
    <div class="col-md-5 col-sm-12">
        <img src="logo.png" alt="logo"/>
    </div>
    <div class="col-md-7 col-sm-12" style="display: table;height: 100%;">
        <h1 style="">Welcome to the online electronics store "HeyTech"!</h1>
    </div>
    
</div>
