@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<h3>Private information we collect</h3>
<label>
    In our shop we collect only information you provide while registration. In case, you want to get your personal data, you can do this in user cabinet. All data secured.
</label>
<h3>Transaction information</h3>
<label>
    In our db we collect information about your transactions.
</label>