@page
@model Frontend.Pages.SupportModel
@{
    ViewData["Title"] = "Support";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Support</h1>
<h2> In case of emergency or problems with site please, contact this email : HackShopTeam@gmail.com</h2>

